*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        135deg,
        #FFFDA2,
        #FFF89A
    );
    margin-bottom: 58%;
}
.container{
    overflow: auto;
    background-color: white;
    width: 70%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 110%;

    
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0, 0, 0, 0, 15);
}
.header{
    position: relative;
}
.team{
    width: 8.2em;
    float: left;
    margin-top: -35px;
    margin-left: 2em;
}
.crustea{
    margin-top: -15px;
    margin-right: 3em;
    width: 6em;
    float: right;
}
h1{
    font-size: 30px;
    text-align: center;
    color: #f3722c;
    width: 100%;
    margin: auto;
    position: relative;
}
p{
    position: relative;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 4%;
    width: 100%;
    text-align: center;
    color: #606060;
    font-size: 14px;
    font-weight: 400;
}
hr{
    border: 1px solid #f9844a;
    margin-bottom: 3.7%;
}
.vid{
    position: relative;
    text-align: center;
    color: #f9844a;
    margin-bottom: -20px;
    font-size: 14px;
    font-weight: 700;
}
video{
    left: 25%;
    overflow: auto;
    width: 50%;
    margin-top: 0.5%;
    margin-bottom: 2%;
    position: relative;
}
form{
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
}
#name, #email, #issue{
    font-size: 14px;
}
.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}
.column{
    font-weight: 500;
}
label{
    color: #f3722c;
    font-size: 14px;
}
ol{
    color: #f3722c;
    font-size: 14px;
    margin-left: -2%;
}
li{
    margin-bottom: 1%;
    font-weight: 500;
}
select{
    margin-bottom: 1%;
    color: #f3722c;
    font-size: 14px;
    border-radius: 3px;
    border-color: #9DB5B2;
}
textarea,
input{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}
textarea{
    resize: none;
}
textarea:focus,
input:focus{
    outline: none;
    border-color: #ffcb69;
}
button {
    width: 80px;
    height: 40px;
    background: none;
    border: 2px solid #f3722c;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transition: .4s;
}
button:hover{
    width: 100px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0, 4);
}
/* span, svg{
    position: absolute;
    color: #f3722c;
    fill: transparent;
    transition: .4s;
}
button:hover span{
    transition: .4s;
    font-size: 16px;
}
button:focus{
    outline: none;
    box-shadow: none;
    border: 2px solid transparent;
    width: 50px;
    border-left: 2px solid #f3722c;
    border-bottom: 2px solid #f3722c;
    animation: spin 2s 500ms forwards;
}
button:focus span{
    color: transparent;
}
button:focus svg{
    animation: check 500ms 2300ms forwards;
}
@keyframes spin{
    80%{
        border: 2px solid transparent;
        border-left: 2px solid #f3722c;
    }
    100%{
        transform: rotate(1080deg);
        border: 2px solid #f3722c
    }
}
@keyframes check{
    to{
        fill: #f3722c;
    }
}
@keyframes circle{
    to{
        border: 2px solid #f3722c;
    }
} */
/* .selectnone {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
} */
